//
   Created by gaozy on 12/11/19.

extends layout

block content
    div(style="position: relative; left: 200px;")
        p(style="color: black; font-size:24px;") XDN Demo
    div(style="position: relative; left: 200px;")
        p(style="color: black; font-size:24px;") Stateful
        p(style="bold: true; color: black; font-size:100px;") #{value}
        //button.btn.btn-success#add(type='submit', onclick="btnControlPost()") +1
        //button.btn.btn-danger#substract(type='submit', onclick="btnControlPost()") -1
        form(id="myform", method="post")
            input.form-control#number(type='number', name='addValue', placeholder='Integer', style='width:auto', onclick="btnControlPost()")


    script.
        function btnControlPost() {
            $('add').onclick(function () {
                document.getElementsByClassName("myValue").innerHTML = val;
                if (!error){
                    document.getElementsByClassName("error").innerHTML = 'Error:'+error;
                }
            })
        }

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }